/****** General ***********/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");

@font-face {
  font-family: "Raleway";
  src: url(/fonts/Raleway-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style: none;
  font-size: 1rem;
  border: none;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --black-bg-color: #060101;
  --grey-bg-color: #d9d9d9;
  --white-bg-color: #fffdfd;
}
.fa-solid {
  color: var(--main-color);
}
.card img {
  object-fit: cover;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
nav,
.search-container,
.filtres-container {
  padding: 0 50px;
  background: var(--white-bg-color);
}

nav {
  max-width: 1440px;
  min-height: 79px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "vid men"
    "log log";
  margin-bottom: 30px;
}
.logo {
  grid-area: log;
}
nav img {
  width: 65.09px;
  height: 23px;
  margin-top: 10px;
}
nav ul {
  display: flex;
  grid-area: men;
  justify-content: right;
}
nav li {
  text-transform: capitalize;
  cursor: pointer;
  padding-inline: 20px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  padding: 20px 10px;
}

nav li:hover {
  color: var(--main-color);
}

nav li:hover::before {
  content: "";
  width: 80%;
  height: 2px;
  position: absolute;
  background: var(--main-color);
  transform: translateY(-17px);
}

.search-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search {
  margin: 35px 0;
}
.intro p {
  padding: 0px 0;
}
h1 {
  font-family: "Raleway";
  font-size: 1.375rem;
}

.search-button {
  width: 377px;
  height: 49px;
  display: flex;
}
.search button-icon,
input {
  border: 0;
}
.button-icon {
  width: 13%;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

#ville {
  width: 60%;
  text-align: left;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid var(--main-bg-color);
}
.search i {
  font-size: 1.3rem;
  color: black;
}

.search input::placeholder {
  color: var(--black-bg-color);
  font-weight: bold;
  font-size: 1.125rem;
}
#btn-submit {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  color: var(--filter-bg-color);
  background: var(--main-color);
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
}

#btn-submit i {
  display: none;
  color: var(--white-bg-color);
}

.filtres-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.filtres-container h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.filtres {
  max-width: 1440px;
  display: flex;
  align-items: baseline;
}

.filtres-up {
  padding-right: 10px;
}
.filtres-down ul {
  display: flex;
}
.filtres-down-buttons li {
  padding-right: 10px;
}
.filtres-down-buttons i {
  font-size: 18px;
}
.filtres-down-buttons button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 173px;
  height: 50px;
  border: 1px solid;
  background: none;
  cursor: pointer;
  border-radius: 25px;
  border-color: var(--grey-bg-color);
  font-size: 1.063rem;
  text-transform: capitalize;
  font-weight: bold;
}

.filtres-down-buttons button:hover {
  background: var(--filter-bg-color);
}

.filtres-infos {
  padding: 35px;
  position: relative;
}

.main-container {
  background: var(--white-bg-color);
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.in-container {
  margin: 0;
  text-align: center;
  position: relative;
  max-width: 1440px;
}

.ellipse11 {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  left: 0px;
  top: 0px;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  position: absolute;
  top: 28px;
  left: 1px;
}
.icon-info i {
  position: absolute;
  top: 34px;
  left: 13px;
}

.filtres-infos p {
  margin-left: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 1.375rem;
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  font-weight: bolder;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

#main-hebergements {
  display: flex;
  justify-content: space-between;
}

.hebergements {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}
.hebergements,
.populaires {
  margin: 20px;
}
.hebergements-cards-up,
.hebergements-cards-down {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.hebergements-cards {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
}

.populaires {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  width: 32%;
}
.hebergements-link p {
  margin-top: 20px;
  font-size: 1.125rem;
  font-weight: bolder;
}

.hebergements-cards .card {
  width: 243px;
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}
.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.hebergements-cards img {
  height: 120px;
  border-radius: 20px 20px 0 0;
}
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 30%;
  height: 140px;
  border-radius: 20px 0px 0px 20px;
}

.populaires-link {
  padding-top: 10px;
  font-weight: 900;
  font-size: 1.125rem;
  color: var(--black-bg-color);
}
.card-content {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

#main-activites {
  max-width: 1440px;
  margin: 70px 30px 0;
  display: flex;
  flex-direction: column;
}
.activites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activites-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.activites-container .card {
  padding: 0px;
}

.activites-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.activites-container img {
  border-radius: 20px 20px 0 0;
  width: 297.5px;
  height: 360px;
}

footer {
  background: var(--main-bg-color);
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 300px;
  display: flex;
  justify-content: space-between;
}
footer h5 {
  font-size: 1.125rem;
  font-weight: bold;
}
.footer-infos,
.footer-hebergements,
.footer-assistance {
  flex-direction: column;
  display: flex;
  padding: 15px;
  line-height: 35px;
}
.footer-infos,
.footer-hebergements,
.footer-assistance,
h5 {
  padding-bottom: 10px;
}

/****** Media queries ***********
/* Medium devices (tablets, less/equal than 1024px) 
  @media (max-width: 1024px) {*/

@media screen and (max-width: 1300px) {
  body {
    width: 1024px;
  }
  #main-hebergements {
    display: inline-block;
    width: 98%;
  }

  .hebergements,
  .populaires {
    width: 98%;
  }
  .populaires {
    margin-top: 70px;
  }

  .populaires-cards {
    display: flex;
    justify-content: space-between;
  }
  .populaires-cards .card {
    width: 260px;
  }

  .activites-cards img {
    width: 193px;
    height: 200px;
  }

  .activites-cards .card {
    width: 193px;
    height: 270px;
  }
  footer {
    padding-right: 110px;
  }
}

/* Small devices (phones, less than 768px) 
  @media (max-width: 767.98px) {
    /* ... */

@media screen and (max-width: 1045px) {
  body {
    max-width: 375px;
    padding: 5px 15px;
  }
  nav {
    display: block;
    text-align: center;
    padding: 0;
    margin: 10px;
  }
  .logo {
    padding: 30px;
  }
  nav ul {
    width: 100%;
    padding-bottom: 15px;
  }
  nav li {
    display: flex;
    justify-content: space-around;
    padding: 0;
    width: 100%;
    margin: 0;
  }

  nav a {
    font-size: 1rem;
    font-weight: 500;
  }
  nav li:hover::before {
    visibility: hidden;
  }

  .nav-btn {
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--main-bg-color);
  }
  .nav-btn:hover,
  .nav-btn:focus {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }

  .search-container,
  .filtres-container {
    width: 100%;
    padding: 10px 20px;
  }
  .intro h1 {
    font-size: 1.3rem;
    font-weight: bolder;
  }
  .intro p {
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 30px;
  }

  .search {
    margin: 15px 0;
  }
  .search-button {
    width: 140%;
    height: 45px;
  }

  #btn-submit span {
    display: none;
  }

  #btn-submit i {
    display: flex;
    font-size: 1rem;
  }
  .filtres {
    flex-direction: column;
  }

  .filtres-up {
    margin-bottom: 15px;
  }
  .filtres-up h2 {
    font-size: 1rem;
  }

  .filtres-down-buttons button {
    width: 150px;
    height: 40px;
    font-size: 0.8rem;
  }
  .filtres-down-buttons ul {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "ec fa"
      "ro pts";
    gap: 15px;
  }
  #ec {
    grid-area: ec;
  }
  #fa {
    grid-area: fa;
  }

  .ellipse11 {
    top: 33px;
  }
  .filtres-infos {
    margin-right: 30px;
    padding: 30px;
  }
  .filtres-infos p {
    font-size: 0.9rem;
  }
  .icon-info i {
    top: 39px;
    left: 13px;
  }

  .section-title {
    font-size: 1.3rem;
    font-weight: bold;
  }

  .main-container {
    display: inline-block;
  }
  #main-hebergements {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .populaires,
  .populaires-cards,
  .hebergements-cards {
    border-radius: 0%;
  }
  .populaires {
    padding: 20px 10px 30px;
    margin: 0;
  }
  .populaires-title i {
    visibility: hidden;
  }

  .hebergements,
  .hebergements-cards {
    background: none;
  }

  .hebergements-cards-up,
  .hebergements-cards-down,
  .activites-cards,
  .populaires-cards,
  footer {
    flex-direction: column;
  }

  .populaires-cards img {
    width: 35%;
    height: 115px;
    padding-bottom: 3px;
  }
  .populaires-cards .card {
    width: 98%;
    margin-top: 10px;
    height: 122px;
  }

  .populaires-cards .card-title {
    font-size: 0.9rem;
    padding: 0;
  }
  .populaires-cards p {
    font-size: 0.8rem;
  }
  .euro {
    font-size: 0.6rem;
  }
  .hebergements {
    padding: 10px;
  }
  .hebergements h2 {
    margin-top: 10px;
    font-size: 1.3rem;
    padding: 0;
  }
  .hebergements-cards img {
    height: 110px;
  }
  .hebergements-cards .card {
    margin-top: 10px;
    width: 100%;
    height: 210px;
  }
  .hebergements-cards .card-title {
    font-size: 0.9rem;
    padding: 0;
  }
  .hebergements-link p {
    font-size: 0.8rem;
  }
  #main-activites {
    margin: 0;
    padding: 0 20px;
  }
  .activites-container {
    margin-top: 0;
  }
  .activites-title h2 {
    margin: 10px 10px 0;
    font-size: 1.3rem;
  }
  .activites-cards img {
    width: 100%;
    height: 120px;
  }
  .activites-cards .card {
    width: 100%;
    height: 180px;
    margin-top: 20px;
  }

  footer {
    margin: 0;
    padding: 0 20px;
  }
  footer h5 {
    font-size: 1rem;
  }
  footer li {
    font-size: 0.8rem;
    line-height: 23px;
  }
}
