/****** General ***********/
@font-face {
  font-family: "Raleway";
  src: url(/fonts/Raleway-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style: none;
  font-size: 1rem;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --black-bg-color: #060101;
  --grey-bg-color: #d9d9d9;
}
.fa-solid {
  color: var(--main-color);
}
nav {
  max-width: 1440px;
  min-height: 79px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
nav img {
  width: 61.09px;
  height: 19px;
  margin-top: 10px;
}
nav ul {
  display: flex;
}
nav li {
  text-transform: capitalize;
  cursor: pointer;
  padding-inline: 20px;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  padding: 20px 10px;
}
nav li:hover {
  color: var(--main-color);
}
nav li:hover:before {
  content: "";
  width: 80%;
  height: 2px;
  position: absolute;
  background: var(--main-color);
  transform: translateY(-10px);
}
body {
  margin: 0 auto;
  padding: 5px 40px;
}

.search-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search {
  margin: 35px 0;
}
.intro p {
  padding: 10px 0;
}
h1 {
  font-family: "Raleway";
  font-size: 1.375rem;
}

.search-button {
  width: 377px;
  height: 49px;
  display: flex;
}
.search button-icon,
input {
  border: 0;
}
.button-icon {
  width: 10%;
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

#ville {
  width: 60%;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid var(--main-bg-color);
}
.search i {
  font-size: 1.7rem;
  color: black;
}

.search input::placeholder {
  color: var(--black-bg-color);
  font-weight: bold;
  font-size: 1.125rem;
}
#btn-submit {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  color: var(--filter-bg-color);
  background: var(--main-color);
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  font-size: 18px;
  padding: 20px;
}

.filtres-container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.filtres-container h2 {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.filtres {
  max-width: 1440px;
  display: flex;
  align-items: baseline;
}

.filtres-up {
  padding-right: 10px;
}
.filtres-down ul {
  display: flex;
}
.filtres-down-buttons li {
  padding-right: 10px;
}
.filtres-down-buttons i {
  font-size: 18px;
}
.filtres-down-buttons button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 173px;
  height: 50px;
  background: none;
  cursor: pointer;
  border-radius: 25px;
  border-color: ;
  font-size: 1.063rem;
  text-transform: capitalize;
  font-weight: bold;
}

.filtres-down-buttons button:hover {
  background: var(--filter-bg-color);
}

.filtres-infos {
  padding: 35px;
  position: relative;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.in-container {
  margin: 0;
  text-align: center;
  position: relative;
  max-width: 1440px;
}

.ellipse11 {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  left: 0px;
  top: 0px;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  position: absolute;
  top: 28px;
  left: 5x;
}
.icon-info i {
  position: absolute;
  top: 34px;
  left: 13px;
}

.filtres-infos p {
  margin-left: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 1.375rem;
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  padding: 10px;
  font-size: 16px;
  font-weight: bolder;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

#main-hebergements {
  display: flex;
  justify-content: space-between;
}

.hebergements {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.hebergements-cards-up,
.hebergements-cards-down {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.hebergements-cards {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
}

.populaires {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
  width: 32%;
}
.hebergements-link p {
  margin-top: 20px;
  font-size: 1.125rem;
  font-weight: bolder;
}

.hebergements-cards .card {
  width: 243px;
  display: flex;
  flex-direction: column;
  margin-top: 33px;
}
.hebergements-cards .card-content {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
.hebergements-cards img {
  height: 136px;
  border-radius: 20px 20px 0 0;
}
.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 30%;
  height: 140px;
  border-radius: 20px 0px 0px 20px;
}

.populaires-link {
  padding-top: 10px;
  font-weight: 900;
  font-size: 1.125rem;
  color: var(--black-bg-color);
}
.card-content {
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

#main-activites {
  max-width: 1440px;
  margin: 70px 30px 0;
  display: flex;
  flex-direction: column;
}
.activites-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activites-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.activites-container .card {
  padding: 0px;
}

.activites-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.activites-container img {
  border-radius: 20px 20px 0 0;
  width: 297.5px;
  height: 439px;
}

footer {
  background: var(--main-bg-color);
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 300px;
  display: flex;
  justify-content: space-between;
}
footer h5 {
  font-size: 1.125rem;
  font-weight: bold;
}
.footer-infos,
.footer-hebergements,
.footer-assistance {
  flex-direction: column;
  display: flex;
  padding: 15px;
  line-height: 35px;
}
.footer-infos,
.footer-hebergements,
.footer-assistance,
h5 {
  padding-bottom: 10px;
}

/****** Media queries ***********/
@media screen and (max-width: 1380px) {
  body {
    max-width: 1024px;
  }
  #main-hebergements {
    display: block;
  }
  .hebergements,
  .populaires {
    width: 100%;
  }
  .populaires {
    margin-top: 50px;
  }
  .populaires-cards {
    display: flex;
    justify-content: space-between;
  }
  .populaires-cards .card {
    width: 260px;
  }
  #main-activites {
    max-width: 1024px;
  }
  .activites-cards img {
    width: 193px;
    height: 200px;
  }

  .activites-cards .card {
    width: 193px;
    height: 270px;
  }
  footer {
    padding-right: 110px;
  }
}
@media screen and (max-width: 980px) {
  body {
    max-width: 375px;
  }
  nav {
    display: block;
    text-align: center;
  }
  nav ul {
    justify-content: space-between;
  }

  nav li:hover:before {
    transform: translateY(30px);
  }
  .search-button {
    width: 295px;
  }

  #btn-submit {
    initial-value: blob;
  }
}
/* Medium devices (tablets, less/equal than 1024px) 
  @media (max-width: 1024px) {
    .hebergements-and-populaires {
      flex-direction: column;
    }
  
    .hebergements {
      width: 100%;
    }
  
    .populaires {
      width: 100%;
      margin-top: 50px;
    }
  
    .populaires-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .populaires-cards a {
      width: 30%;
    }
  
    .populaires-cards .card-title {
      font-size: 14px;
    }
  
    .populaires-cards .card-subtitle {
      font-size: 13px;
    }
  }
  
  /* Small devices (phones, less than 768px) 
  @media (max-width: 767.98px) {
    /* ... */
